.viewcontainer{
    background-color: rgba(186, 252, 230, 0.681);
    height: 600px;
}
.viewtodo{
 display: grid;
 grid-template-columns: 300px 300px 300px;
 row-gap: 20px;
 column-gap: 80px;
 justify-content: space-around;
 
}
main{
    border: 3px solid white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.buttoncontainer{
    height: 40px;
    display: flex;
    justify-content: center;
}
.buttoncontainer button{
    width: 100px;
    cursor: pointer;
}

